* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.header {
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  border: 1.7px solid rgba(21, 20, 20, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(48, 46, 46, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
}

.note-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.note-branding {
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.note-menu {
  display: none;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 50%; 
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  position: absolute; 
  top: 50px;
  right: 0;
  z-index: 10; 
  list-style-type: none;
}

.note-menu.active {
  display: flex; 
}

.note-link {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.note-link:hover {
  color: blue;
}

.dot {
  width: 5px;
  height: 5px;
  margin: 0 0px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  transition: transform 0.3s ease;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 3px;
}

.menu-button.active .dot {
  transform: scale(1.2);
}

.note-textarea {
  width: 280px;
  height: 200px; /* Adjust height as needed */
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  resize: none; /* Prevent resizing of the textarea */
  outline: none; /* Remove outline on focus */
  margin-top: 15px; /* Move textarea lower */
}


@media (max-width: 600px) {
  .header {
    width: 80%;
  }
}

.circle-indicator {
  width: 20px;
  height: 20px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  bottom: 15px; 
  left: 15px; 
  display: none; 
}
